<p>Click to hear the different notes</p>
<br>
<br>
<audio id="piano_G#" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_g-sharp.wav"></source>
</audio>
<button onclick="document.getElementById('piano_G#').play();">G#</button>

<audio id="piano_A" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_a.wav"></source>
</audio>
<button onclick="document.getElementById('piano_A').play();">A</button>

<audio id="piano_Bb" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_b-flat.wav"></source>
</audio>
<button onclick="document.getElementById('piano_Bb').play();">Bb</button>

<audio id="piano_B" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_b.wav"></source>
</audio>
<button onclick="document.getElementById('piano_B').play();">B</button>

<audio id="piano_C" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_c1.wav"></source>
</audio>
<button onclick="document.getElementById('piano_C').play();">C</button>

<audio id="piano_C#" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_c1-sharp.wav"></source>
</audio>
<button onclick="document.getElementById('piano_C#').play();">C#</button>

<audio id="piano_D" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_d.wav"></source>
</audio>
<button onclick="document.getElementById('piano_D').play();">D</button>

<audio id="piano_Eb" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_e-flat.wav"></source>
</audio>
<button onclick="document.getElementById('piano_Eb').play();">Eb</button>

<audio id="piano_E" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano-e.wav"></source>
</audio>
<button onclick="document.getElementById('piano_E').play();">E</button>

<audio id="piano_F" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_f.wav"></source>
</audio>
<button onclick="document.getElementById('piano_F').play();">F</button>

<audio id="piano_F#" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_f-sharp.wav"></source>
</audio>
<button onclick="document.getElementById('piano_F#').play();">F#</button>

<audio id="piano_G" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_g.wav"></source>
</audio>
<button onclick="document.getElementById('piano_G').play();">G</button>
<br>
<br>
<audio id="piano_C2" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_c2.wav"></source>
</audio>
<button onclick="document.getElementById('piano_C2').play();">C</button>
