<h1>Pages#PlayMusic</h1>
<p>Find me in app/views/pages/play.html.erb</p>
<br>
<br>
<audio id="mysoundclip" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/a.wav"></source>
</audio>
<button onclick="document.getElementById('mysoundclip').play();">A</button>

