<h1>Create Melodies</h1>
<p>Start by selecting notes to create a melody</p>
<p>After creating a melody, you can play the melody</p>
<p>After a melody is played the note selection will be reset automatically</p>
<br>

<audio id="G#" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_g-sharp.wav"></source>
</audio>
<button name= "G#" onclick="soundArray = appendSound('G#', soundArray)">G#</button>

<audio id="A" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_a.wav"></source>
</audio>
<button onclick="soundArray = appendSound('A', soundArray)">A</button>

<audio id="Bb" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_b-flat.wav"></source>
</audio>
<button onclick="soundArray = appendSound('Bb', soundArray)">Bb</button>

<audio id="B" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_b.wav"></source>
</audio>
<button onclick="soundArray = appendSound('B', soundArray)">B</button>

<audio id="C" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_c1.wav"></source>
</audio>
<button onclick="soundArray = appendSound('C', soundArray)">C</button>

<audio id="C#" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_c1-sharp.wav"></source>
</audio>
<button onclick="soundArray = appendSound('C#', soundArray)">C#</button>

<audio id="D" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_d.wav"></source>
</audio>
<button onclick="soundArray = appendSound('D', soundArray)">D</button>

<audio id="Eb" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_e-flat.wav"></source>
</audio>
<button onclick="soundArray = appendSound('Eb', soundArray)">Eb</button>

<audio id="E" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano-e.wav"></source>
</audio>
<button onclick="soundArray = appendSound('E', soundArray)">E</button>

<audio id="F" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_f.wav"></source>
</audio>
<button onclick="soundArray = appendSound('F', soundArray)">F</button>

<audio id="F#" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_f-sharp.wav"></source>
</audio>
<button onclick="soundArray = appendSound('F#', soundArray)">F#</button>

<audio id="G" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_g.wav"></source>
</audio>
<button onclick="soundArray = appendSound('G', soundArray)">G</button>
<br>
<br>
<audio id="C2" preload="auto">
	<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer1/sounds/piano_c2.wav"></source>
</audio>
<button onclick="soundArray = appendSound('C2', soundArray)">C</button>
<br>
<br>
<p id="notes">Current note selection: </p>
<br>
<button onclick="playback(soundArray)">Play Melody</button>